html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    max-width: 60rem;
}

td {
    padding: .1rem 2rem;
    width: 15rem;
}

a {
    color: cornflowerblue;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
}